:root {
    --border-radius: 20px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}

#bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-size: cover;
}

#rcMenu {
    //right click menu
    width: max-content;
    max-width: 100px;
    position: fixed;
    z-index: 1200;

    #drag {
        cursor: move;
        -webkit-user-select: none;
        user-select: none;
    }
}

#searchbar {
    max-width: calc(60vw - 0px);
    min-width: 276px;
    width: auto;
    height: 40px;
    //overflow: hidden;
    border-radius: var(--border-radius) !important;
    border: var(--bs-border-width) solid var(--bs-border-color);
    background: var(--bs-body-bg);
    opacity: .7;
    transition: opacity .2s;
    font-family: bootstrap-icons, "sans-serif" !important;

    &:hover {
        opacity: 1;
    }

    >#starget {
        max-width: 67px !important;
        font-family: bootstarp-icons, sans-serif;
        height: 100%;
    }

    #s-engine {
        width: min-content;
        font-family: bootstrap-icons, sans-serif, dengxian, fangsong;
        background-color: transparent;
        border: var(--bs-border-width) solid var(--bs-border-color);
        border-bottom-left-radius: var(--border-radius);
        border-top-left-radius: var(--border-radius);
    }

    >.sbutton {
        border-radius: 0 19px 19px 0 !important;
        shape-outside: circle(50%);
        width: 38px;
        height: 38px;
        padding: 0 !important;
        z-index: 6;
    }

    >#searchTerm {
        text-wrap: nowrap;
        font-size: 100%;
        min-width: 100px;
        width: 100px;
        height: 100%;
        overflow: hidden;
        max-width: calc(60vw - 177px);
    }

    >label[for="searchTerm"] {
        display: block;
        visibility: hidden;
        min-width: 100px;
        padding: 15px;
        width: max-content;
        height: 0;
        position: absolute;
    }

    >label:not([for="searchTerm"]) {
        display: none;
    }
}




#settings {
    position: absolute;
    top: 0;
    width: 100vw;

    >nav {
        float: right;
        width: max-content;
        height: min-content;

        >button,
        >span>button {
            float: right;
            text-shadow: 0 0 6px var(--bs-body-bg);
            padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
        }
    }

    >form {
        margin-bottom: 20px;
    }

    >#setingsBox {
        max-height: 45vh;
        border-top-left-radius: var(--bs-modal-inner-border-radius);
    }



    #bg-success {
        margin-left: 5em;
    }

    span.modal-body {
        width: max-content;
    }

    #settingsBox>div.modal-dialog {
        width: max-content;

        >div.modal-content {
            max-width: 80vw;
            max-height: calc(100vh - (var(--bs-modal-margin) * 2));
            overflow-y: auto;
            overflow-x: hidden;
            scrollbar-color: var(--bs-primary) rgba(255, 255, 255, 0);
            scrollbar-width: thin;

            >.modal-header {
                position: sticky;
                z-index: 1;
                top: 0;
                width: 100%;
                background-color: var(--bs-body-bg);
                box-shadow: rgb(0, 0, 0, .5) 0 0px 5px 5px;
            }

            >div.row {
                margin-left: 0;

                nav {
                    width: max-content;

                    ul {
                        width: max-content;

                        li {
                            width: max-content;
                        }
                    }
                }
            }

            >.modal-body {
                #searchSetBox {
                    display: flex;

                    td>label {
                        width: 100%;

                        textarea {
                            width: 100%;
                        }
                    }



                    #searchSet-Names {
                        min-width: 111px;
                    }
                }
            }
        }
    }




}